.buttonDiv {
  text-align: center;
  margin-top: 30px;
}
.formCol {
  background-color: #2fcc76;
  overflow: hidden;
}

.formContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
}

.form {
  max-width: 100%;
  width: 420px;
  background: white;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.imageContainer {
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  width: 350px;
  margin: 0px auto;
  max-width: 100%;
  font-size: 21px;
}

.text {
  width: 350px;
  margin: 10px auto;
  max-width: 100%;
  font-size: 12px;
  text-align: center;
  color: black;
}

.text:hover{
    text-decoration: none;
    color: #2fcc76;
}

.logo{
    width: 170px;
    margin: 21px auto;
}


.bgPattern{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.1;
    z-index: 0;
}