.button {
  color: white;
  background: #2fcc76;
  border: 1px solid #2fcc76;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
  margin: 0px 5px;
}

.button:hover {
  color: black;
  background: none;
  cursor: pointer;
}

.buttonRed {
  background: #740e0e;
  border: 1px solid #740e0e;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
  margin: 0px 5px;
}

.buttonRed:hover {
  color: black;
  background: none;
  cursor: pointer;
}
