.button {
  color: white;
  background: #2fcc76;
  border: 1px solid #2fcc76;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
}

.button:hover {
  color: black;
  background: none;
  cursor: pointer;
}

.buttonWhite {
  border: 1px solid silver;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
}

.buttonWhite:hover {
  color: #275ebe;
  cursor: pointer;
}
